<!DOCTYPE html>
<html>
    <head>
        <div th:replace="fragments/head :: head"></div>
        <title>EMG - Anciens élèves</title>
    </head>
    <body class="bg-light-subtle bg-gradient">
        <header>
            <div th:replace="fragments/header :: header"></div>
        </header>
        <main class="mt-5 mb-5">
            <div class="container-fluid container-md">

                <div class="row">
                    <div class="col-12 mt-4">
                        <h1 class="mb-2 mt-3">Mettre à jour le parcours professionnel de <span th:text="${alumni.firstName}">Prénom</span> <span th:text="${alumni.lastName}">Nom</span></h1>
                        
                        <div>
                            <a class="btn btn-outline-primary" href="#" data-bs-toggle="modal" th:data-bs-target="@{'#addJob' + ${alumni.id}}"><i class="bi bi-plus-circle"> Ajouter</i></a>
                        </div>
                        <table class="table table-hover table-borderless ">
                            <thead>
                                <tr>
                                    <th>Poste</th>
                                    <th>Employeur</th>
                                    <th>Année d'entrée</th>
                                    <th>Année de sortie</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${jobs.empty}">
                                    <td colspan="4">Aucune expérience professionnelle en base de données</td>
                                </tr>
                                <tr th:each="job: ${jobs}">
                                    <td><span th:text="${job.name}">Poste</span></a></td>
                                    <td><span th:text="${job.company}"> Employeur </span></td>
                                    <td><span th:text="${#dates.year(job.entryDate)}"> Date de début</span></td>
                                    <td><span th:text="${#dates.year(job.releaseDate)}"> Date de fin</span></td>
                                    <td class="text-center" ><a href="#" data-bs-toggle="modal" th:data-bs-target="@{'#update' + ${job.id}}"><i class="bi bi-tools" ></i></a></td>
                                    <td class="text-center" ><a href="#" data-bs-toggle="modal" th:data-bs-target="@{'#delete' + ${job.id}}"><i class="bi bi-trash" ></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                
            </div>
        </main>

        <!-- Formulaire d'ajout d'un job -->

        <div class="modal fade" th:id="@{'addJob' + ${alumni.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div data-bs-theme="dark" class="modal-header bg-pink">
                    <h1 class="modal-title" id="staticBackdropLabel">Ajouter une expérience professionnelle </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" th:action="@{/saveJob}">

                    <div class="modal-body">
        
                    <input type="hidden" th:name="@{'alumni.id'}" th:value="${alumni.id}" class="form-control">

                    <div class="mb-3">
                        <label for="nameControlInput" class="form-label">Intitulé</label>
                        <input type="text" class="form-control" id="nameControlInput" th:name="@{'name'}">
                    </div>

                    <div class="mb-3">
                        <label for="companyControlInput" class="form-label">Employeur</label>
                        <input type="text" class="form-control" id="companyControlInput" th:name="@{'company'}">
                    </div>

                    <div class="mb-3">
                        <label for="entryDateControlInput" class="form-label">Date entrée</label>
                        <input type="date" class="form-control" id="entryDateControlInput" >
                    </div>
                    
                    <div class="mb-3">
                        <label for="releaseDateControlInput" class="form-label">Date sortie</label>
                        <input type="date" class="form-control" id="releaseDateControlInput" >
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                    </div>
                </form>
                </div>
        </div>
        </div>

        <!-- Formulaire de modification d'un job -->

        <div th:each="job: ${jobs}" class="modal fade" th:id="@{'update' + ${job.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div data-bs-theme="dark" class="modal-header bg-pink">
                    <h1 class="modal-title" id="staticBackdropLabel">Modifier une expérience professionnelle </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" th:action="@{/saveJob}">

                    <div class="modal-body">

                    <input type="hidden" th:name="@{'id'}" th:value="${job.id}" class="form-control">
        
                    <input type="hidden" th:name="@{'alumni.id'}" th:value="${job.alumni.id}" class="form-control">

                    <div class="mb-3">
                        <label for="nameControlInput" class="form-label">Intitulé</label>
                        <input type="text" class="form-control" id="nameControlInput" th:name="@{'name'}" th:value="${job.name}">
                    </div>

                    <div class="mb-3">
                        <label for="companyControlInput" class="form-label">Employeur</label>
                        <input type="text" class="form-control" id="companyControlInput" th:name="@{'company'}" th:value="${job.company}">
                    </div>

                    <div class="mb-3">
                        <label for="entryDateControlInput" class="form-label">Date entrée</label>
                        <input type="date" class="form-control" id="entryDateControlInput"  th:value="${job.entryDate}">
                    </div>
                    
                    <div class="mb-3">
                        <label for="releaseDateControlInput" class="form-label">Date sortie</label>
                        <input type="date" class="form-control" id="releaseDateControlInput" th:value="${job.releaseDate}">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                    </div>
                </form>
                </div>
            </div>
        </div>

        

        <!-- Avertissement de suppression d'un job -->

        <div th:each="job: ${jobs}" class="modal fade" th:id="@{'delete' + ${job.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div data-bs-theme="dark" class="modal-header bg-pink">
                    <h1 class="modal-title" id="staticBackdropLabel">Supprimer une expérience professionnelle </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>Alerte :</strong> vous vous apprêtez à supprimer l'expérience professionnelle de ... du logiciel.</p>
                    <p>Cette opération supprimera définitivement toutes les informations associées à cet élève : appréciations, retards et absences, toute année confondue !</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                    <a class="btn btn-primary" href="#" th:href="@{'/alumnis/' + ${alumni.id} + '/deleteJob/' + ${job.id}}" >Supprimer</a>
                </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>

    
          <!--Scripts JS-->

        <div th:replace="fragments/scripts :: scripts"></div>
    </body>
</html>