<!DOCTYPE html>
<html>
    <head>
        <div th:replace="fragments/head :: head"></div>
        <title>EMG - Anciens élèves</title>
    </head>
            <div th:replace="fragments/header :: header"></div>

            <!-- Breadcrumb -->
            <div class="row">
                <div class="col-12 mt-4">
                    <nav class="breadcrumb-custom-divider"  aria-label="breadcrumb">
                        <ol class="breadcrumb my-auto">
                            <li class="breadcrumb-item"><a th:href="@{/}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Accueil</a></li>
                            <li class="breadcrumb-item"><a th:href="@{'/alumnis/' + ${schooling.alumni.id}}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><span th:text="${schooling.alumni.firstName} + ' ' + ${schooling.alumni.lastName}">Nom de l'élève</span></a></li>
                            <li class="breadcrumb-item active">Scolarité EMG</li>
                        </ol>
                    </nav>
                </div>
            </div>


                <div class="row">
                    <div class="col-12 mt-4">
                        <h1 class="mb-2 mt-3"><span th:text="${schooling.alumni.firstName}">prénom</span> <span th:text="${schooling.alumni.lastName}">nom</span></h1>
                        <h2>Mettre à jour la scolarité</h2>

                        <form method="post" th:action="@{'/schoolings/' + ${schooling.alumni.id} + '/saveSchooling'}" th:object="${schooling}">

                            <input type="hidden" th:field="*{id}" class="form-control">
        
                            <input type="hidden" th:field="*{alumni.id}" class="form-control">
        
                            <div class="mb-3">
                                <label for="entryDateControlInput" class="form-label">Date entrée</label>
                                <input type="date" class="form-control" id="entryDateControlInput" th:field="*{entryDate}">
                            </div>
                            
                            <div class="mb-3">
                                <label for="releaseDateControlInput" class="form-label">Date sortie</label>
                                <input type="date" class="form-control" id="releaseDateControlInput" th:field="*{releaseDate}">
                            </div>
        
                            <div class="mb-3">
                                <label for="releaseClassroomSelect" class="form-label">Classe sortie</label>
                                <select class="form-select" aria-label="Release Class Room" id="releaseClassroomSelect" th:field="*{releaseClassroom.id}">
                                    <option th:each="classroom : ${classrooms}" th:text="${classroom.name}" th:value="${classroom.id}">Classe</option>
                                </select>
                            </div>
        
                            <div class="mb-3">
                                <label for="entryClassroomSelect" class="form-label">Classe d'entrée</label>
                                <select class="form-select" aria-label="Release Class Room" id="entryClassroomSelect" th:field="*{entryClassroom.id}">
                                    <option th:each="classroom : ${classrooms}" th:text="${classroom.name}" th:value="${classroom.id}">Classe</option>
                                </select>
                            </div>

                            <div th:if="${schooling.entryClassroom.name == 'JE'}" class="mb-3">
                                <label for="jardinierSelect" class="form-label">Jardinier(e) d'enfants</label>
                                <select class="form-select" aria-label="Select jardinier" id="jardinierSelect" th:field="*{jardinier.id}">
                                    <option th:each="teacher : ${teachers}" th:text="${teacher.firstName + ' ' + teacher.lastName}" th:value="${teacher.id}">Enseignant</option>
                                </select>
                            </div>
        
                            <div class="mb-3">
                                <label for="promotionSelect" class="form-label">Promotion</label>
                                <select class="form-select" aria-label="Release Class Room" id="promotionSelect" th:field="*{promotion.id}">
                                    <option th:each="promotion : ${promotions}" th:text="${promotion.name}" th:value="${promotion.id}">Classe</option>
                                </select>
                            </div>
        
                        </div>
                        <div>
                          <a class="btn btn-secondary" th:href="@{'/alumnis/' + ${schooling.alumni.id}}">Annuler</a>
                          <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </form>

                    </div>
                </div>


        <div th:replace="fragments/footer :: footer"></div>

    
          <!--Scripts JS-->

        <div th:replace="fragments/scripts :: scripts"></div>

</html>