<footer class="footer bg-pink">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 offset-4 mt-3 mb-3">
                <p>4 rue Herzog - 68124 Logelbach</p>
                <p><a href="https://www.ecole-mathias-grunewald.org">www.ecole-mathias-grunewald.org</a> </p>
                <p><a href="https://www.projetpeda.ecole-mathias-grunewald.org">Notre projet pédagogique</a></p>
            </div>
            <div class="col-4 mt-3 mb-3">
                <img th:src="@{/images/Logo_EMG.png}" height="120px" alt="École Mathias Grünewald" class="ms-5">
            </div>
        </div>
    </div>
</footer>