<footer class="footer bg-light border-top">
    <div class="container">
        <div class="row">
            <div class="col-4 mt-3 mb-3 text-start">
                <p><a class="link-underline-opacity-25 link-underline-opacity-100-hover" href="https://www.ecole-mathias-grunewald.org">www.ecole-mathias-grunewald.org</a> </p>
                <p>Suivi des anciens élèves</p>
                <p>4 rue Herzog - 68124 Logelbach</p>
            </div>
            <div class="offset-4 col-4 mt-3 mb-3 text-end">
                <img th:src="@{/images/Logo_EMG.png}" height="120px" alt="École Mathias Grünewald" class="text-end">
            </div>
        </div>
    </div>
</footer>