<!DOCTYPE html>
<html>
    <head>
        <div th:replace="fragments/head :: head"></div>
        <title>EMG - Anciens élèves</title>
    </head>
    <body class="bg-light-subtle bg-gradient">
        <header>
            <div th:replace="fragments/header :: header"></div>
        </header>
        <main class="mt-5 mb-5">
            <div class="container-fluid container-md">

                <div class="row">
                    <div class="col-12 mt-4">
                    <h1 class="mb-2 mt-3"><span th:text="${alumni.firstName}">Prénom</span> <span th:text="${alumni.lastName}">Nom</span></h1>
                      
                    <h3><span th:if="${alumni.gender}"><i class="bi bi-gender-male"></i></span>
                        <span th:unless="${alumni.gender}"><i class="bi bi-gender-female"></i></span> <span th:if="${alumni.birthDate != null}">, Né<span th:unless="${alumni.gender}">e</span> le <span th:text="${#dates.format(alumni.birthDate,'dd/MM/yyyy')}">date de naissance</span></span>
                        <a data-bs-toggle="modal" data-bs-target="#alumniForm"><i class="bi bi-gear pink"></i>
                        </a>
                    </h3>

                    <fieldset class="mb-3 rounded shadow p-4">
                        
                          <div class="row justify-content-between">
                            <div class="col-4">
                                <h3 class="pb-2">Scolarité EMG</h3>
                            </div>
                            <div class="col-2 text-end">
                                <a th:href="@{/schoolings/{id}(id=${alumni.schooling.id})}"><i class="bi bi-gear pink"></i></a>
                            </div>
                          </div>
                        
                        <div class="row">
                            <div class="col">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Année entrée : <span th:text="${#dates.year(alumni.schooling.entryDate)}">XX-XX-XXXX</span></li>
                                    <li class="list-group-item">Classe entrée : <span th:text="${alumni.schooling.entryClassroom.name}">Xe classe</span></li>
                                    <li class="list-group-item">Année de sortie : <span th:text="${#dates.year(alumni.schooling.releaseDate)}">XX-XX-XXXX</span></li>
                                    <li class="list-group-item">Classe de sortie : <span th:text="${alumni.schooling.releaseClassroom.name}">Xe classe</span></li>
                                    <li th:if="*{alumni.schooling.note!=null and #strings.length(alumni.schooling.note)>0}" class="list-group-item">Remarque : <span th:text="${alumni.schooling.note}">XX-XX-XXXX</span></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" th:if="${alumni.schooling.jardinier != null}">Jardinier(e) enfants : <span th:text="${alumni.schooling.jardinier.firstName}">...</span> <span th:text="${alumni.schooling.jardinier.lastName}">...</span></li>
                                    <li class="list-group-item"><a  th:href="@{/promotions/{id}(id=${alumni.schooling.promotion.id})}">Promotion <span th:text="${alumni.schooling.promotion.name}">promotion</span></a></li>
                                    <li th:each="promotionTeacher: ${alumni.schooling.promotion.promotionTeachers}" class="list-group-item"><span th:text="${promotionTeacher.teacher.lastName}">Nom</span> <span th:text="${promotionTeacher.teacher.firstName}">Prénom</span> - <span th:text="${promotionTeacher.role}">role</span> de <span th:text="${#dates.year(promotionTeacher.startDate)}">date de début</span> à <span th:text="${#dates.year(promotionTeacher.endDate)}" >date de fin</span></li>
                                </ul>
                            </div>
                        </div>
        
                    </fieldset >

                    <fieldset class="mb-3 rounded shadow p-4" th:if="${not #lists.isEmpty(alumni.studies)}">
                        <h3 class="pb-2">Poursuite des études</h3>
                        <ul class="list-group list-group-flush">
                            <table class="table table-borderless ">
                                <thead>
                                    <tr>
                                        <th>Établissement</th>
                                        <th>Diplome obtenu</th>
                                        <th>Niveau</th>
                                        <th>Remarque</th>
                                        <th>Date entrée</th>
                                        <th>Date de sortie</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="study: ${alumni.studies}">
                                        <td><span th:text="${study.school}">non renseigné</span></td>
                                        <td><span th:text="${study.diploma}">non renseigné</span></td>
                                        <td><span th:text="${study.diplomaLevel}">non renseigné</span></td>
                                        <td><span th:text="${study.note}"></span></td>
                                        <td><span th:text="${#dates.year(study.entryDate)}"></span></td>
                                        <td><span th:text="${#dates.year(study.releaseDate)}"></span></td>
                                    </tr>
                                </tbody>

                            </table>
                        </ul>
                    </fieldset>

                    <fieldset class="mb-3 rounded shadow p-4">
                        
                        <div class="row justify-content-between">
                            <div class="col-4">
                                <h3 class="pb-2">Parcours professionnel</h3>
                            </div>
                            <div class="col-2">
                                <a th:href="@{/alumnis/{id}/jobs/(id=${alumni.id})}"><i class="bi bi-gear pink"></i></a>
                            </div>
                          </div>

                        <div th:if="${#lists.isEmpty(alumni.jobs)}">Aucune expérience professionnelle renseignée.</div>

                        <table class="table table-borderless" th:if="${not #lists.isEmpty(alumni.jobs)}">
                            <thead>
                                <tr>
                                    <th>Employeur</th>
                                    <th>Profession</th>
                                    <th>Date entrée</th>
                                    <th>Date de sortie</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="job: ${alumni.jobs}">
                                    <td><span th:text="${job.company}">non renseigné</span></td>
                                    <td><span th:text="${job.name}">non renseigné</span></td>
                                    <td><span th:text="${#dates.year(job.entryDate)}"></span></td>
                                    <td><span th:text="${#dates.year(job.releaseDate)}"></span></td>
                                </tr>
                            </tbody>

                        </table>

                    </fieldset>

                    <fieldset class="mb-3 rounded shadow p-4" th:if="${not #lists.isEmpty(alumni.contacts)}">
                        <h3 class="pb-2">Contact(s)</h3>

                        <table class="table table-borderless ">
                            <tbody>
                                <tr th:each="contact: ${alumni.contacts}">
                                    <td><span th:text="${contact.type}">type de contact</span></td>
                                    <td><span th:text="${contact.content}">valeur</span></td>
                                    <td th:unless="${contact.usable}">liste noire</td>
                                </tr>
                            </tbody>

                        </table>

                    </fieldset>

                    </div>
                </div>

                
            </div>
        </main>

        <div th:replace="fragments/footer :: footer"></div>

        <!-- Formulaire pour infos Alumni -->

        <div class="modal fade" id="alumniForm" tabindex="-1" aria-labelledby="alumniFormLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Alumni</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/saveAlumni}" th:object="${alumni}">

                    <input type="hidden" th:field="*{id}" class="form-control">

                    <div class="mb-3">
                        <label for="firstNameControlInput" class="form-label">Prénom</label>
                        <input type="text" class="form-control" id="firstNameControlInput" th:field="*{firstName}">
                    </div>

                    <div class="mb-3">
                        <label for="lastNameControlInput" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="lastNameControlInput" th:field="*{lastName}">
                    </div>

                    <div class="mb-3">
                        <label for="birthDateControlInput" class="form-label">Date de naissance</label>
                        <input type="date" class="form-control" id="birthDateControlInput" th:field="*{birthDate}">
                    </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </form>
              </div>
            </div>
          </div>

    
          <!--Scripts JS-->

        <div th:replace="fragments/scripts :: scripts"></div>
    </body>
</html>