<!DOCTYPE html>
<html>
    <head>
        <div th:replace="fragments/head :: head"></div>
        <title>EMG - Promotion</title>
    </head>

            <div th:replace="fragments/header :: header"></div>

                <div class="row">
                    <div class="col-12 col-11-lg col-xl-10 mt-4">
                    <h1 class="mb-2 mt-3">Promotion <span th:text="${promotion.name}">promotion</span> </h1>

                    <fieldset class="mb-3 rounded shadow p-4" th:if="${not #lists.isEmpty(promotion.schoolings)}">
                        <h3 class="pb-2">Élèves</h3>
                        <ul class="list-group list-group-flush">
                            <table class="table table-borderless ">
                                <thead>
                                    <tr>
                                        <th>Élève</th>
                                        <th>Classe entrée</th>
                                        <th>Classe sortie</th>
                                        <th>Année entrée</th>
                                        <th>Année de sortie</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="schooling: ${promotion.schoolings}">
                                        <td><a  th:href="@{/alumnis/{id}(id=${schooling.alumni.id})}"><span th:text="${schooling.alumni.lastName}">Nom</span> <span th:text="${schooling.alumni.firstName}">Prénom</span></a></td>
                                        <td><span th:text="${schooling.entryClassroom.name}">non renseigné</span></td>
                                        <td><span th:text="${schooling.releaseClassroom.name}">non renseigné</span></td>
                                        <td><span th:text="${#dates.year(schooling.entryDate)}">non renseigné</span></td>
                                        <td><span th:text="${#dates.year(schooling.releaseDate)}">non renseigné</span></td>
                                    </tr>
                                </tbody>

                            </table>
                        </ul>
                    </fieldset>
                    </div>
                </div>

                
                <div th:replace="fragments/footer :: footer"></div>

        <div th:replace="fragments/scripts :: scripts"></div>
</html>