<!DOCTYPE html>
<html>
    <head>
        <div th:replace="fragments/head :: head"></div>
        <title>EMG - Promotion</title>
    </head>

            <div th:replace="fragments/header :: header"></div>

             <!-- Breadcrumb -->
             <div class="row">
                <div class="col-12 mt-4">
                    <nav class="breadcrumb-custom-divider"  aria-label="breadcrumb">
                        <ol class="breadcrumb my-auto">
                            <li class="breadcrumb-item"><a th:href="@{/}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Accueil</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/promotions}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Promotions</a></li>
                            <li class="breadcrumb-item active"><span th:text="${promotion.name}">XXXX</span></li>
                        </ol>
                    </nav>
                </div>
            </div>

                <div class="row">
                    <div class="col-12 col-11-lg col-xl-10">
                    <h1 class="mb-2 mt-3">Promotion <span th:text="${promotion.name}">promotion</span> </h1>

                    <fieldset class="mb-3 rounded shadow p-4">
                        <h3 class="pb-2">Élèves</h3>
                            <table class="table table-borderless ">
                                <thead>
                                    <tr>
                                        <th>Élève</th>
                                        <th>Classe entrée</th>
                                        <th>Classe sortie</th>
                                        <th>Année entrée</th>
                                        <th>Année de sortie</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:if="${promotion.schoolings.empty}">
                                        <td colspan="5">Aucun ancien élève associé à cette promotion</td>
                                    </tr>            
                                    <tr th:each="schooling: ${promotion.schoolings}">
                                        <td><a  th:href="@{/alumnis/{id}(id=${schooling.alumni.id})}"><span th:text="${schooling.alumni.lastName}">Nom</span> <span th:text="${schooling.alumni.firstName}">Prénom</span></a></td>
                                        <td><span th:text="${schooling.entryClassroom.name}">non renseigné</span></td>
                                        <td><span th:text="${schooling.releaseClassroom.name}">non renseigné</span></td>
                                        <td><span th:text="${#dates.year(schooling.entryDate)}">non renseigné</span></td>
                                        <td><span th:text="${#dates.year(schooling.releaseDate)}">non renseigné</span></td>
                                    </tr>
                                </tbody>

                            </table>
                    </fieldset>

                    <fieldset class="mb-3 rounded shadow p-4">
                        <h3 class="pb-2">Enseignants</h3>
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th>Prénom & Nom</th>
                                        <th>Statut</th>
                                        <th>De</th>
                                        <th>À</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:if="${promotion.promotionTeachers.empty}">
                                        <td colspan="4">Aucun enseignant associé à cette promotion.</td>
                                    </tr>
                                    <tr th:each="promotionTeacher: ${promotion.promotionTeachers}">
                                        <td><span th:text="${promotionTeacher.teacher.lastName}">Nom</span> <span th:text="${promotionTeacher.teacher.firstName}">Prénom</span></td>
                                        <td><span th:text="${promotionTeacher.role}">Rôle</span></td>
                                        <td><span th:text="${#dates.year(promotionTeacher.startDate)}">Date de début</span></td>
                                        <td><span th:text="${#dates.year(promotionTeacher.endDate)}">Date de fin</span></td>
                                    </tr>
                                </tbody>

                            </table>

                    </fieldset>
                    </div>
                </div>

                
                <div th:replace="fragments/footer :: footer"></div>

        <div th:replace="fragments/scripts :: scripts"></div>
</html>